@import "../../styles/utils";
@import "../../styles/colors";
@import "../../styles/values";

.paginateButton {
  all: unset;
  background: rgba($primaryColor, 0.1);
  border-radius: 4px;
  padding: 6.4px 8.71px;
  cursor: pointer;
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:last-child {
    margin-left: 10px;
  }

  &:first-child {
    margin-right: 10px;
  }
}

.pageNumber {
  cursor: pointer;
  padding: 0px 10px;
  font-size: 16px;
}

.activePage {
  font-size: 16px;
  font-weight: 500;
}
