.container {
  display: flex;
  flex-direction: column;
  flex: 1.1;
  // padding: 10px 100px;
  align-items: flex-end;
}

.content {
  max-width: 800px;
}

.logoContainer {
  margin-top: 106px;
  padding-left: 97px;
}

.illustrationContainer {
  padding: 0 69px 0px 67px;
  // flex: 1;
  margin-top: 139px;
  // object-fit:cover;
  img {
    width: 100%;
    // object-fit: contain;
  }
}

@media screen and (max-width: 770px) {
  .container {
    display: none;
  }
}
