@import "./breakpoints";

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scollContent {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin navAndContentPadding {
  padding: 0 60px;
  @include forTablets {
    padding: 0 30px;
  }
}

@mixin cardContainer {
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(33, 63, 125, 0.06);
  border-radius: 4px;
}
