@import "./breakpoints";

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scollContent {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin navAndContentPadding {
  padding: 0 60px;
  @include forTablets {
    padding: 0 30px;
  }
}
