@import "../../styles/colors";
.selectContainer {
  border: 1px solid rgba($textColor, 0.15);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.3s ease;
  position: relative;
  font-family: inherit;
  padding: 12px 20px;


  -webkit-appearance: none;
  -moz-appearance: none;
//   background-image: url("data:image/svg+xml;utf8,<svg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10.0573 0.993798C10.8984 0.152706 12.1595 1.45646 11.3184 2.25489L6.56759 7.00565C6.23127 7.38408 5.64282 7.38408 5.3065 7.00565L0.640017 2.38131C-0.158963 1.54022 1.10267 0.27907 1.94322 1.12022L5.937 5.114L10.0573 0.993798Z' fill="#213F7D"/></svg>");
  background-image: url(./arrowDown.svg);
  background-repeat: no-repeat;
  background-position-x: 91%;
  background-position-y: 50%;

  &:hover {
    border-color: $secondaryColor;
  }

  &.placeholder {
    font-family: inherit;
    color: rgba($textColor, 0.6);
    font-weight: 400;
    font-size: 14px;
  }
}
