@import "../../styles/utils";
@import "../../styles/colors";
@import "../../styles/values";

.pageTitle {
  font-size: 24px;
  font-weight: 500;
  color: $primaryColor;
}

.content {
  @include navAndContentPadding;
  margin-top: 60px;
  width: 100%;
}
