@import "../../styles/values";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: $workSansFont;
}

.sidebarAndContentcontainer {
  display: flex;
  flex: 1;
  height: calc(100% - 100px);
}
