@import "../../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 100px;
  box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
  align-items: flex-start;
}

.content {
  max-width: 447px;
  margin-top: 120px;
  width: 100%;
  padding-bottom: 50px;

  .welcome {
    font-size: 40px;
    font-weight: 700;
    color: $primaryColor;
    margin-bottom: 20px;
    letter-spacing: -0.04em;
  }

  .welcomeInfo {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
  }

  .forgotPassword {
    cursor: pointer;
    color: $secondaryColor;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  .showPassword {
    cursor: pointer;
    color: $secondaryColor;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}

.logo {
  display: none;
}

@media screen and (max-width: 770px) {
  .container {
    align-items: center;
    padding: 10px 20px;
  }
  .logo {
    display: flex;
    margin-bottom: 50px;
  }

  .content {
    margin-top: 40px;
    .welcome {
      margin-top: 80px;
    }
  }
}
