@import "../../styles/utils";
@import "../../styles/colors";
@import "../../styles/values";

.LTable {
  min-width: 700px;
  overflow-x: scroll;
  @include cardContainer;
  background-color: white;
  padding: 15px 30px 30px 30px;
  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  .tableHead {
    border-bottom: none;
  }

  tr {
    border-bottom: 1px solid rgba($primaryColor, 0.1);
  }

  th,
  td {
    padding: 21px 0;
  }

  th {
    font-size: 12px;
    font-weight: 600;
  }

  td {
    font-size: 14px;
  }
}

.selectSize {
  font-family: inherit;
  border-radius: 4px;
  background: rgba($primaryColor, 0.1);
  padding: 5px 12px;
  color: $primaryColor;
  font-weight: 500;
  font-size: 14px;
  height: 30px;
  width: 80px;
  margin: 0 10px;
}

.paginationAndSizeContainer {
  min-width: 700px;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paginator {
  background: white;
  padding: 1em 5px;
}
