@font-face {
  font-family: Lendsqr;
  src: url(../src/assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  src: url(../src/assets/fonts/AvenirNextLTPro-It.otf) format("opentype");
  src: url(../src/assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
}

html,
#root {
  height: 100%;
}

body {
  font-family: Lendsqr;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
