@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Avenir Next";
  src: url(../src/assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  src: url(../src/assets/fonts/AvenirNextLTPro-It.otf) format("opentype");
  src: url(../src/assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
}

@font-face {
  font-family: "SF Compact Text";
  src: url(../src/assets/fonts/SFCompactText-Regular.ttf) format("opentype");
}

html,
#root {
  height: 100%;
}

body {
  font-family: "Avenir Next";
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
